<!DOCTYPE html>
    <html>
      <head>
        <meta charset="UTF-8" />
        <title>Confirmation d'achat - Musée Casa Kahlo !</title>
      </head>
      <body style="margin:0; padding:0; background-color:${COLOR_FONDO};">
        <table width="600" cellpadding="0" cellspacing="0" border="0" style="margin:auto; background-color: ${COLOR_FONDO};">
          <tr>
            <td align="center">
              <table width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: ${COLOR_FONDO}; border-collapse: collapse;">
                
                <tr>
                  <td align="center" style="padding: 20px 40px 0 40px;">
                    <h1 style="${styleText(COLOR_ROJO, 'bolder', '40px')} text-transform: uppercase; margin: 0 0 5px 0; letter-spacing: 2px;">
                      MUSEO CASA KAHLO
                    </h1>
                  </td>
                </tr>
                <tr>
                  <td align="center" style="padding: 5px 40px 20px 40px;">
                    <h2 style="${styleText(COLOR_ROJO, 'bold', '24px')} text-transform: uppercase; margin: 0;">VOUS AVEZ MAINTENANT VOS BILLETS POUR LE </h2>
                    <h2 style="${styleText(COLOR_ROJO, 'bold', '24px')} text-transform: uppercase; margin: 0;">MUSÉE CASA KAHLO !</h2>
                  </td>
                </tr>
                
                <tr>
                  <td align="center" style="padding:0 40px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td style="background-color: ${COLOR_ROJO}; color: ${COLOR_FONDO}; font-weight: bold; font-size: 18px; padding: 10px; text-align: center; font-family: Arial, sans-serif;">
                          Résumé de votre commande
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td style="padding: 20px 40px 10px 40px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="${styleText()}">
                      <tr>
                        <td width="50%" style="padding-bottom: 5px;">
                          Vous avez acheté <b style="color:${COLOR_ROJO};">${data.boletos}</b> billet pour:
                        </td>
                        <td width="50%" style="padding-bottom: 5px; text-align: right; font-weight: bold; line-height: 1.3;">
                          ${data.fecha}
                          <br>${data.horario}
                        </td>
                      </tr>
                    </table>
                    
                    <div style="margin:10px 0;">
                      ${data.tablaBoletos}
                    </div>

                    <p style="${styleText()} font-size: 14px; text-align: right; margin-top: 10px; margin-bottom: 0;">
                        <span style="font-weight: bold; color: ${COLOR_NEUTRO};">Numéro de réservation:</span> ${data.idReservacion || 'N/A'}
                    </p>

                    ${data.password
                    ? `<p style="${styleText()} font-size: 14px; text-align: right; margin-top: 10px; margin-bottom: 0;">
                              <span style="font-weight: bold; color: ${COLOR_NEUTRO};">Votre mot de passe provisoire:</span> ${data.password}
                      </p>`
                    : ''
                    }


                  </td>
                </tr>

                <tr>
                  <td align="center" style="padding:10px 40px 0 40px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td style="background-color: ${COLOR_ROJO}; color: ${COLOR_FONDO}; font-weight: bold; font-size: 18px; padding: 10px; text-align: center; font-family: Arial, sans-serif;">
                          Vos billets
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td style="padding: 20px 40px 10px 40px; text-align: center;">
                    <p style="${styleText(COLOR_NEUTRO, 'normal', '15px')} margin-bottom: 15px;">
                      Pour entrer dans le musée, présentez votre code QR sur votre appareil mobile ou sur une impression papier.
                    </p>
                    <div style="margin:20px 0;">
                      <img src="cid:qrImage" alt="Código QR" style="width:140px; height:140px; border: 1px solid #ccc;" />
                    </div>
                  </td>
                </tr>

                <tr>
                  <td style="padding: 0 40px 20px 40px;">
                    <hr style="border: 0; border-top: 1px solid #ccc; width: 100%; margin: 10px 0;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="${styleText()}">
                      <tr>
                        <td width="50%" align="left" style="padding: 10px 0; vertical-align: top; border-right: 1px solid #ffffff00;">
                          <p style="margin: 0; ${styleText(COLOR_NEUTRO, 'normal', '15px')} line-height: 1.3;">
                            <span style="font-weight: bold; color: ${COLOR_NEUTRO};">${data.direccion || 'Aguayo 54, Del Carmen, Coyoacán,'}</span>
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;04100, CDMX
                          </p>
                          <p style="margin: 5px 0 0 23px; font-size: 14px;">
                            <a href="${data.ubicacionUrl}" style="color: #1976d2; text-decoration: underline;">Voir sur Google Maps</a>
                          </p>
                        </td>
                        
                        <td width="50%" align="left" style="padding: 10px 0; vertical-align: top; padding-left: 20px;">
                          <p style="margin: 0; ${styleText(COLOR_NEUTRO, 'normal', '15px')} line-height: 1.3;">
                            <span style="font-weight: bold; color: ${COLOR_NEUTRO};">${data.fecha}</span>
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${data.horario}
                          </p>
                        </td>
                      </tr>
                    </table>
                    <hr style="border: 0; border-top: 1px solid #ccc; width: 100%; margin: 10px 0;">
                  </td>
                </tr>

                <tr>
                    <td align="center" style="padding: 0 40px 20px 40px;">
                        <p style="${styleText()} text-align: center; margin: 0;">
                            Pour consulter vos réservations, vous pouvez accéder à <a href="${URL_RESERVACIONES}" style="color: ${COLOR_ROJO}; font-weight: bold; text-decoration: underline;">votre compte</a>.
                        </p>
                    </td>
                </tr>

                <tr>
                  <td align="center" style="padding:10px 40px 0 40px;">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td style="background-color: ${COLOR_ROJO}; color: ${COLOR_FONDO}; font-weight: bold; font-size: 18px; padding: 10px; text-align: center; font-family: Arial, sans-serif;">
                          Avant votre visite
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td style="padding: 20px 40px 20px 40px; text-align: left;">
                    <p style="${styleText()} margin-bottom: 15px;">
                      N'oubliez pas qu'il n'y a AUCUNE tolérance. En cas de retard, nous pourrons vous intégrer au groupe à l'endroit où il se trouve actuellement ou vous reprogrammer pour la prochaine visite disponible, sous réserve de disponibilité.
                    </p>
                    <p style="${styleText()} margin-bottom: 15px;">
                      Si vous avez acheté un billet à prix réduit, présentez une carte d'identité valide qui le justifie à votre arrivée.
                    </p>
                    <p style="${styleText()} margin-bottom: 15px;">
                      Nous vous rappelons que votre billet digital est votre ticket d'accès à la visite. Toute reproduction de votre billet est strictement interdite. Consultez les <a href="https://boleto.museocasakahlo.org/pages/terminos.html" target="_blank" style="color: #1976d2; text-decoration: underline;">conditions générales du billet digital.</a>.
                    </p>
                  </td>
                </tr>

                <tr>
                  <td align="center" style="padding: 10px 40px;">
                    <p style="${styleText(COLOR_ROJO, 'bold', '18px')} text-transform: uppercase; margin: 0 0 10px 0;">
                      PLUS D'AMOUR, PLUS DE FAMILLE, PLUS DE MEXIQUE
                    </p>
                    <hr style="border: 0; border-top: 1px solid #ccc; width: 80%; margin: 10px auto;">
                  </td>
                </tr>
                
                <tr>
                  <td align="center" style="padding: 10px 40px 20px 40px;">
                    <p style="${styleText('12px')} margin: 0 0 10px 0;">
                      Ne répondez pas à cet e-mail. Pour toute question, envoyez un e-mail à <a href="mailto:contacto@museocasakahlo.org" style="color: #1976d2; text-decoration: underline;">contacto@museocasakahlo.org</a>
                    </p>
                    <p style="font-size: 12px; color: ${COLOR_NEUTRO}; margin: 0;">
                      <a href="https://boleto.museocasakahlo.org/pages/terminos.html" target="_blank" style="color: #1976d2; text-decoration: underline; margin: 0 5px;">Conditions générales </a> | 
                      <a href="https://boleto.museocasakahlo.org/pages/aviso-privacidad.html" target="_blank" style="color: #1976d2; text-decoration: underline; margin: 0 5px;">Politique de Confidentialité</a>
                    </p>
                    <p style="font-size: 12px; color: #999; margin: 10px 0 0 0;">
                      ©Copyright 2025 Museo Casa Kahlo
                    </p>
                  </td>
                </tr>

              </table>
            </td>
          </tr>
        </table>
      </body>
    </html>